body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.message-container {
  padding-left: 300px;
}

.chatroom-select{
  background-color: #E4E6E9;
  height: 100vh;
  padding: 50px;
}

.channel {
    cursor: pointer;
}

.selected {
  color: red
}
